<div class="row">
  <div class="image col-md-4">
    <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{peopleDetails.profile_path}}" alt="">
  </div>
  <div class="col-md-8">
    <h3 class="text-white">{{peopleDetails.name}}</h3>
    <div class="text-secondary my-3">Popularity : <span class="text-white">{{peopleDetails.popularity}}</span></div>
    <div class="text-secondary my-3">Birthday : <span class="text-white">{{peopleDetails.birthday}}</span></div>
    <div class="text-secondary my-3">Place of birth : <span class="text-white">{{peopleDetails.place_of_birth}}</span></div>
    <div class="text-secondary my-3">Biography : <span class="text-white">{{peopleDetails.biography }}</span></div>
  </div>
</div>






