<div class="row">
  <div class="image col-md-4">
    <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{movieDetails.poster_path}}" alt="">
  </div>
  <div class="col-md-8">
    <h3 class="text-white">{{movieDetails.title}}</h3>
    <div class="text-secondary my-3">Release date : <span class="text-white">{{movieDetails.release_date}}</span></div>
    <div class="text-secondary my-3">Popularity : <span class="text-white">{{movieDetails.popularity}}</span></div>
      <div class="text-secondary my-3">Vote : <span class="text-white">{{movieDetails.vote_average}}</span></div>
    <div class="text-secondary my-3">Overview : </div>
    <p class="text-white">{{movieDetails.overview}}</p>
  </div>
</div>
